{
    "openapi": "3.0.0",
    "info": {
        "title": "OBSOLIO API Documentation",
        "description": "\n# OBSOLIO API - Organized Endpoint Structure\n\nThis API provides a clear separation between different user contexts:\n\n## Endpoint Organization\n\n### Public Endpoints\n- `/auth/*` - Authentication and registration\n- `/marketplace/*` - Public AgentX for browsing agents\n- `/subscription-plans` - Pricing information\n\n### Admin Endpoints (System Console)\n- `/admin/*` - System administration operations\n  - Tenant management\n  - User management\n  - Agent management (global)\n  - Analytics and reports\n  - Audit logs\n\n### Tenant Endpoints (Dashboard)\n- `/tenant/*` - Tenant-specific operations\n  - Profile and settings\n  - Dashboard and statistics\n  - Organizations\n  - Agents (installed)\n  - Subscriptions and billing\n  - Activities and sessions\n\n### Webhooks\n- `/webhooks/*` - External callback endpoints\n\n## Authentication\n\nMost endpoints require JWT Bearer token authentication. Include the token in the Authorization header:\n\n```\nAuthorization: Bearer <your-jwt-token>\n```\n\nPublic endpoints (auth, AgentX) do not require authentication.\n",
        "contact": {
            "name": "OBSOLIO Support",
            "email": "admin@obsolio.com"
        },
        "license": {
            "name": "Proprietary",
            "url": "https://obsolio.com/terms"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://console.obsolio.com/api/v1",
            "description": "Admin Console (Production)"
        },
        {
            "url": "https://{tenant}.obsolio.com/api/v1",
            "description": "Tenant Dashboard (Production)",
            "variables": {
                "tenant": {
                    "default": "demo",
                    "description": "Your tenant subdomain (e.g., acme-corp)"
                }
            }
        },
        {
            "url": "http://localhost:8000/api/v1",
            "description": "Local Development"
        }
    ],
    "paths": {
        "/api/v1/tenant/agents": {
            "get": {
                "tags": [
                    "Tenant - Agents"
                ],
                "summary": "List available agents",
                "description": "Get a list of all available agents for the tenant. This is a read-only endpoint.",
                "operationId": "tenantListAgents",
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Filter by category slug or ID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by agent name or description",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 12
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agents retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/agents/{id}": {
            "get": {
                "tags": [
                    "Tenant - Agents"
                ],
                "summary": "Get agent details",
                "description": "Get detailed information about a specific agent. This is a read-only endpoint.",
                "operationId": "tenantShowAgent",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Agent ID (UUID)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "slug": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "long_description": {
                                                    "type": "string"
                                                },
                                                "icon_url": {
                                                    "type": "string"
                                                },
                                                "banner_url": {
                                                    "type": "string"
                                                },
                                                "capabilities": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "supported_languages": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "price_model": {
                                                    "type": "string"
                                                },
                                                "base_price": {
                                                    "type": "number"
                                                },
                                                "is_active": {
                                                    "type": "boolean"
                                                },
                                                "is_featured": {
                                                    "type": "boolean"
                                                },
                                                "rating": {
                                                    "type": "number"
                                                },
                                                "total_installs": {
                                                    "type": "integer"
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "description": "Agent not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/agent-runs": {
            "get": {
                "tags": [
                    "Tenant - Agent Runs"
                ],
                "summary": "Get list of agent execution runs",
                "description": "Get paginated list of agent execution history for the current tenant with optional filters",
                "operationId": "getTenantAgentRuns",
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "query",
                        "description": "Filter by agent ID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "running",
                                "completed",
                                "failed"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent runs retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/agents/{id}/run": {
            "post": {
                "tags": [
                    "Tenant - Agents"
                ],
                "summary": "Execute an agent asynchronously",
                "description": "Initiates asynchronous execution of an agent. The agent will process the request in the background and send results to the callback webhook.",
                "operationId": "executeAgent",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Agent UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "input"
                                ],
                                "properties": {
                                    "input": {
                                        "description": "Input parameters for the agent execution",
                                        "type": "object",
                                        "example": {
                                            "query": "What is the weather today?",
                                            "location": "Cairo"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Agent execution initiated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Agent execution initiated"
                                        },
                                        "data": {
                                            "properties": {
                                                "run_id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "660e8400-e29b-41d4-a716-446655440001"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "running"
                                                },
                                                "agent": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "example": "550e8400-e29b-41d4-a716-446655440000"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Weather Agent"
                                                        },
                                                        "runtime_type": {
                                                            "type": "string",
                                                            "example": "n8n"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Agent is not active or no trigger endpoint configured",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Agent is not active"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Agent not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Agent not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Agent failed to accept execution or internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to connect to agent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/agent-runs/{run_id}": {
            "get": {
                "tags": [
                    "Tenant - Agent Runs"
                ],
                "summary": "Get agent execution status",
                "description": "Retrieve the status and results of an agent execution run",
                "operationId": "getAgentRunStatus",
                "parameters": [
                    {
                        "name": "run_id",
                        "in": "path",
                        "description": "Agent Run UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "660e8400-e29b-41d4-a716-446655440001"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Run status retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "run_id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "660e8400-e29b-41d4-a716-446655440001"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "pending",
                                                        "running",
                                                        "completed",
                                                        "failed"
                                                    ],
                                                    "example": "completed"
                                                },
                                                "input": {
                                                    "type": "object",
                                                    "example": {
                                                        "query": "What is the weather today?",
                                                        "location": "Cairo"
                                                    }
                                                },
                                                "output": {
                                                    "type": "object",
                                                    "example": {
                                                        "result": "The weather in Cairo is sunny, 28°C"
                                                    },
                                                    "nullable": true
                                                },
                                                "error": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-12-27T10:00:00.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-12-27T10:00:05.000000Z"
                                                },
                                                "agent": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "example": "550e8400-e29b-41d4-a716-446655440000"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Weather Agent"
                                                        },
                                                        "runtime_type": {
                                                            "type": "string",
                                                            "example": "n8n"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Agent run not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Agent run not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Internal server error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/webhooks/agents/callback": {
            "post": {
                "tags": [
                    "Webhooks"
                ],
                "summary": "Agent execution callback webhook",
                "description": "Webhook endpoint for agents to send execution results. This endpoint does not require JWT authentication but validates a secret token instead.",
                "operationId": "agentExecutionCallback",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "run_id",
                                    "status",
                                    "secret"
                                ],
                                "properties": {
                                    "run_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "660e8400-e29b-41d4-a716-446655440001"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "completed",
                                            "failed"
                                        ],
                                        "example": "completed"
                                    },
                                    "output": {
                                        "type": "object",
                                        "example": {
                                            "result": "The weather in Cairo is sunny, 28°C"
                                        },
                                        "nullable": true
                                    },
                                    "error": {
                                        "type": "string",
                                        "example": null,
                                        "nullable": true
                                    },
                                    "secret": {
                                        "type": "string",
                                        "example": "your-callback-secret-token"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Callback received and processed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Callback received and processed"
                                        },
                                        "data": {
                                            "properties": {
                                                "run_id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "660e8400-e29b-41d4-a716-446655440001"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "completed"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No active callback endpoint configured",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No active callback endpoint configured for this agent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid secret token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid secret"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Agent run not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Agent run not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Internal server error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/dashboard/stats": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get dashboard statistics",
                "operationId": "getDashboardStats",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "users": {
                                                    "type": "object"
                                                },
                                                "agents": {
                                                    "type": "object"
                                                },
                                                "workflows": {
                                                    "type": "object"
                                                },
                                                "organizations": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/organization": {
            "get": {
                "tags": [
                    "Tenant - Organization"
                ],
                "summary": "Get current tenant's organization",
                "description": "Returns the organization details for the authenticated tenant. Tenant = Organization (1:1 relationship).",
                "operationId": "getTenantOrganization",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "550e8400-e29b-41d4-a716-446655440000"
                                                },
                                                "tenant_id": {
                                                    "type": "string",
                                                    "example": "acme"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Acme Corporation"
                                                },
                                                "short_name": {
                                                    "type": "string",
                                                    "example": "ACME",
                                                    "nullable": true
                                                },
                                                "industry": {
                                                    "type": "string",
                                                    "example": "Technology",
                                                    "nullable": true
                                                },
                                                "company_size": {
                                                    "type": "string",
                                                    "example": "50-100",
                                                    "nullable": true
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "USA",
                                                    "nullable": true
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "+1234567890",
                                                    "nullable": true
                                                },
                                                "timezone": {
                                                    "type": "string",
                                                    "example": "UTC"
                                                },
                                                "logo_url": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "settings": {
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                "users_count": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Organization not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Tenant - Organization"
                ],
                "summary": "Update current tenant's organization",
                "description": "Update organization details for the authenticated tenant. Tenant = Organization (1:1 relationship).",
                "operationId": "updateTenantOrganization",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Acme Corporation"
                                    },
                                    "short_name": {
                                        "type": "string",
                                        "maxLength": 50,
                                        "example": "ACME",
                                        "nullable": true
                                    },
                                    "industry": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "Technology",
                                        "nullable": true
                                    },
                                    "company_size": {
                                        "type": "string",
                                        "maxLength": 50,
                                        "example": "50-100",
                                        "nullable": true
                                    },
                                    "country": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "USA",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "+1234567890",
                                        "nullable": true
                                    },
                                    "timezone": {
                                        "type": "string",
                                        "maxLength": 50,
                                        "example": "UTC",
                                        "nullable": true
                                    },
                                    "logo_url": {
                                        "description": "Logo file upload",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "A leading technology company",
                                        "nullable": true
                                    },
                                    "settings": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Organization updated successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Organization not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/memberships": {
            "get": {
                "tags": [
                    "Tenant - Memberships"
                ],
                "summary": "List all members of current tenant",
                "operationId": "3acef479409c60ed26376f8cadade522",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status (active, invited, suspended, left)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "invited",
                                "suspended",
                                "left"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of members"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/memberships/invite": {
            "post": {
                "tags": [
                    "Tenant - Memberships"
                ],
                "summary": "Invite a user to join the tenant",
                "operationId": "8cc1ae65140ca3cd662d5d15f872c066",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "example": {
                                            "department": "Engineering"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User invited successfully"
                    },
                    "400": {
                        "description": "Validation error or user already member"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/memberships/{userId}/activate": {
            "post": {
                "tags": [
                    "Tenant - Memberships"
                ],
                "summary": "Activate an invited user",
                "operationId": "caa3d9c2a919133803cdf6f1d333499e",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID to activate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User activated successfully"
                    },
                    "400": {
                        "description": "User not found or not in invited status"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/memberships/{userId}/suspend": {
            "post": {
                "tags": [
                    "Tenant - Memberships"
                ],
                "summary": "Suspend a member",
                "operationId": "2c181d09b4efde61d169d12f4cc73060",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID to suspend",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "example": "Violation of terms"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User suspended successfully"
                    },
                    "404": {
                        "description": "Membership not found"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/memberships/{userId}/reactivate": {
            "post": {
                "tags": [
                    "Tenant - Memberships"
                ],
                "summary": "Reactivate a suspended member",
                "operationId": "50b3ada5f8024598cb164d95a8bc3d73",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID to reactivate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User reactivated successfully"
                    },
                    "404": {
                        "description": "Membership not found"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/memberships/{userId}": {
            "delete": {
                "tags": [
                    "Tenant - Memberships"
                ],
                "summary": "Remove a member from tenant",
                "operationId": "743769ec6823978fa440c39ca9b723b2",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID to remove",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User removed successfully"
                    },
                    "404": {
                        "description": "Membership not found"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/roles": {
            "get": {
                "tags": [
                    "Tenant - Roles"
                ],
                "summary": "List all roles for current tenant",
                "operationId": "7b278c7bd6a83cfbbe38adde071c36b9",
                "responses": {
                    "200": {
                        "description": "List of tenant roles"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Tenant - Roles"
                ],
                "summary": "Create a new role for current tenant",
                "operationId": "83bd6e2421c39a793270d28c1fba72aa",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "permissions"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Project Manager"
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "tenant.projects.view",
                                            "tenant.projects.create"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Role created successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/roles/{id}": {
            "get": {
                "tags": [
                    "Tenant - Roles"
                ],
                "summary": "Get role details",
                "operationId": "e228e616324f2281adc7e67cc6f5f41a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Role ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Role details"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Tenant - Roles"
                ],
                "summary": "Update role",
                "operationId": "a7496c6f57d874c1253e30d70cb03bbb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Role ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Senior Project Manager"
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Role updated successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Tenant - Roles"
                ],
                "summary": "Delete role",
                "operationId": "a972a9847ba67aca97fac28b48836929",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Role ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Role deleted successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/tenant/permissions": {
            "get": {
                "tags": [
                    "Tenant - Roles"
                ],
                "summary": "List available permissions for tenant",
                "operationId": "2f397c655df3320e49b6b3cbf0aefbd7",
                "responses": {
                    "200": {
                        "description": "List of available permissions"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/activities": {
            "get": {
                "tags": [
                    "Activities"
                ],
                "summary": "List all activities",
                "description": "Get a paginated list of user activities",
                "operationId": "getActivities",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/activities/{id}": {
            "get": {
                "tags": [
                    "Activities"
                ],
                "summary": "Get activity details",
                "operationId": "getActivity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Activity ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Activity not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/activities/user/{userId}": {
            "get": {
                "tags": [
                    "Activities"
                ],
                "summary": "Get user activities",
                "operationId": "getUserActivities",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/activities/export": {
            "get": {
                "tags": [
                    "Activities"
                ],
                "summary": "Export activities",
                "operationId": "exportActivities",
                "responses": {
                    "200": {
                        "description": "Activities exported successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sessions": {
            "get": {
                "tags": [
                    "Sessions"
                ],
                "summary": "List active sessions",
                "operationId": "getSessions",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sessions/active": {
            "get": {
                "tags": [
                    "Sessions"
                ],
                "summary": "Get active sessions",
                "operationId": "getActiveSessions",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/sessions/{id}/terminate": {
            "post": {
                "tags": [
                    "Sessions"
                ],
                "summary": "Terminate session",
                "operationId": "terminateSession",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Session ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Session terminated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "SuccessResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "Operation completed successfully"
                    },
                    "data": {
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "ErrorResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "An error occurred"
                    },
                    "error": {
                        "type": "string",
                        "example": "Error details"
                    }
                },
                "type": "object"
            },
            "ValidationErrorResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "The given data was invalid"
                    },
                    "errors": {
                        "type": "object",
                        "example": {
                            "email": [
                                "The email field is required"
                            ]
                        }
                    }
                },
                "type": "object"
            },
            "PaginatedResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "data": {
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "type": "object"
                                }
                            },
                            "current_page": {
                                "type": "integer",
                                "example": 1
                            },
                            "last_page": {
                                "type": "integer",
                                "example": 10
                            },
                            "per_page": {
                                "type": "integer",
                                "example": 20
                            },
                            "total": {
                                "type": "integer",
                                "example": 200
                            },
                            "from": {
                                "type": "integer",
                                "example": 1
                            },
                            "to": {
                                "type": "integer",
                                "example": 20
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            }
        },
        "responses": {
            "Unauthorized": {
                "description": "Unauthenticated - Invalid or missing JWT token",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorResponse"
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "Forbidden - Insufficient permissions",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorResponse"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "Resource not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorResponse"
                        }
                    }
                }
            },
            "ValidationError": {
                "description": "Validation error - Invalid input data",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ValidationErrorResponse"
                        }
                    }
                }
            },
            "ServerError": {
                "description": "Internal server error",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorResponse"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Enter your JWT token in the format: Bearer {token}",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Tenant - Memberships",
            "description": "Tenant user membership management (invite, activate, suspend, remove)"
        },
        {
            "name": "Tenant - Agents",
            "description": "Tenant dashboard: Installed agent management"
        },
        {
            "name": "Tenant - Agent Runs",
            "description": "Tenant dashboard: Agent execution history"
        },
        {
            "name": "Webhooks",
            "description": "External callback endpoints"
        },
        {
            "name": "Tenant - Roles",
            "description": "Tenant dashboard: Role management"
        },
        {
            "name": "Dashboard",
            "description": "Dashboard"
        },
        {
            "name": "Tenant - Organization",
            "description": "Tenant - Organization"
        },
        {
            "name": "Activities",
            "description": "Activities"
        },
        {
            "name": "Sessions",
            "description": "Sessions"
        }
    ]
}